---
name: Dependency Review

on:
  pull_request:
    types:
      - edited
      - opened
      - reopened
      - synchronize

permissions: {}

jobs:
  dependency-review:
    name: Dependency Review
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.1.2

      - name: Dependency Review
        uses: actions/dependency-review-action@v4.8.3 # v4.7.1
        with:
          fail-on-severity: critical
